@tailwind base;
@tailwind components;
@tailwind utilities;

/** .forest https://github.com/n0acar/tiny-projects/blob/main/src/app/daisy-to-shadcn/local.css **/

@layer base {
  :root {
    --border: 0 2% 82%;
    --input: 0 2% 82%;
    --ring: 0 2% 82%;
    --background: 0 12% 8%;
    --foreground: 0 2% 82%;
    --primary: 141 72% 42%;
    --primary-foreground: 0 0% 0%;
    --secondary: 164 73% 42%;
    --secondary-foreground: 164 15% 8%;
    --destructive: 358.25 100% 69%;
    --destructive-foreground: 0 0% 0%;
    --muted: 0 10% 7%;
    --muted-foreground: 0 2% 82%;
    --accent: 175 73% 42%;
    --accent-foreground: 175 15% 8%;
    --popover: 0 12% 8%;
    --popover-foreground: 0 2% 82%;
    --card: 0 12% 8%;
    --card-foreground: 0 2% 82%;
    --radius: 1.9rem;
  }

  .dark {
    --border: 0 2% 82%;
    --input: 0 2% 82%;
    --ring: 0 2% 82%;
    --background: 0 12% 8%;
    --foreground: 0 2% 82%;
    --primary: 141 72% 42%;
    --primary-foreground: 0 0% 0%;
    --secondary: 164 73% 42%;
    --secondary-foreground: 164 15% 8%;
    --destructive: 358.25 100% 69%;
    --destructive-foreground: 0 0% 0%;
    --muted: 0 10% 7%;
    --muted-foreground: 0 2% 82%;
    --accent: 175 73% 42%;
    --accent-foreground: 175 15% 8%;
    --popover: 0 12% 8%;
    --popover-foreground: 0 2% 82%;
    --card: 0 12% 8%;
    --card-foreground: 0 2% 82%;
    --radius: 1.9rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}